.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #c4c4c4;
  margin-top: -20px;
}

.content {
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #f5f5f5; /* Off white color */
}

.animation {
  margin-top: -10px; /* Adjust the margin-top value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.smiley {
  width: 30px; /* Adjust the width value as needed */
  height: 30px; /* Adjust the height value as needed */
  background: yellow;
  border-radius: 50%;
  animation: rotate-animation 2s infinite linear;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.airplane {
  width: 100px;
  height: 100px;
  background: url("images/airplane.png") center no-repeat;
  background-size: contain;
  margin-left: 40px;
  animation: airplane-animation 3s infinite;
}

@keyframes airplane-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

.icon {
  margin-top: 40px; /* Adjust the margin-top value as needed */
}

.icon i {
  font-size: 24px;
  color: #f5f5f5; /* Off white color */
}

button {
  background-color: #008000;
  color: #f5f5f5; /* Off white color */
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 220px; /* Adjust the margin-top value as needed */
}

button:hover {
  background-color: #075931; /* Darker shade of green */
}
